.audio-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include respond(desktop) {
    margin-top: 2rem;
  }

  &__control {
    font-size: $icon-font-size !important;
    margin-right: 1.5rem;

    &--skip {
      font-size: 3.5rem !important;
    }
  }
}
