.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 7rem;
  left: 0;
  width: 22rem;
  background-color: $color-grey-light-1;
  box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.15);
  z-index: $sideNav-z-index;

  @include respond(desktop) {
    width: 28rem;
    top: 8rem;
    bottom: 0;
  }

  &__link:link,
  &__link:visited {
    display: block;
    padding: 2rem 1rem;
    font-size: $default-font-size-mobile;
    color: $color-black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    @include respond(desktop) {
      background-color: $color-select;
    }
  }

  &__link--active {
    background-color: $color-select;
  }
}
