.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $backdrop-z-index;

  &--show {
    display: block;
  }

  &--darken {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
